.error {
  color: #7e0101;
}

button {
  margin-left: auto;
  margin-right: auto;
  padding: .5rem;
  background-color: #222;
  color: white;
}
.btn {
  background-color: #7e0101;
  color: white;
}

.input-border {
  width: 50%;
  height: 2rem; 
}