.form-grid{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.form-control {
    background-color: white;
    border: .5rem solid #7e0101;
    font-weight: bold;
    
}

.form-group {
    font-family: san-serif;
    font-size: 1.25rem;
    color: #000;
}

.btn {
        padding: .5rem;
        background-color: #7e0101;
        color: white
}
.center {
    margin: 0 auto;
    max-width: 150rem;
    overflow: auto;
    text-align: center;
}

