.form-grid{
    width:50%;
    margin-left:auto;
    margin-right:auto;
}

.form-control-local {
    background-color: white;
    width: 90%;
    
        
}

.form-group, .search-btn, label {
    font-size: 1.15rem;

}

button {
        padding: .5rem;
        background-color: #7e0101;
        color: white; 
}
.center {
    margin: 0 auto;
    max-width: 125%;
    overflow: auto;
    text-align: center;
}

.search-block { 
    display: flex;
    align-items: flex-end;
    height: 2rem;   
}

.search-btn {
    /* margin-left:1rem; */
    background-color: #7e0101;
    height: 2rem;
    font-size: 1.1rem;
    padding: .1rem .6rem;
}

label{
    color:white;
    font-size: 1rem;
    text-align: left;
}