ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a, li {
  font-size: 1.25rem;
  text-decoration: none;
  color:#7e0101;
}

.navBar {
  /* background: black; */
  box-shadow: 1rem .5rem 1rem #7e0101;
  color: white;
  margin-bottom: 2rem;
  padding: 1.1rem 1.5rem;
  height: 4rem;
  margin-top: -3.5rem; 
}

.navBar button {
  background: transparent;
  border: .15rem solid white;
  color: white;
  padding: 0.6rem 0.2rem;
  border-radius: .75rem;
  height: 4rem;
}

.brand:hover, button:hover, a:hover, li:hover {
  background: white;
  color: #7e0101;
  font-weight: bolder;
  cursor: pointer;
  text-decoration: none;
}


.brand {
  cursor: pointer;
  font-size: 2rem;
  color: white;
  text-decoration: underline;
}

