.thumbnails {
    height: 20rem;
    width: 20rem;
}

p {
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;
}

.video-display {
    text-align: left;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    margin-top: 1rem;
    margin-left: 2rem;
    width: 120%;
    height: 120%; 
}   

hr {
    color:#7e0101;
}

.page-container {
    display:grid;
    grid-template-areas: "l m r";
    gap: 1rem;
    /* align-items: ; */

}

.iframe-video {
    width: 66%;
    height: 100%;
    margin-top: 1rem;
}

