@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container, html, #root {
    background-color: black;
    color: white;
    letter-spacing: .1rem;
}

.navBar, footer, .container, html, #root, .brand, {
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}


html {
  box-sizing: border-box;
}
body {
    /* font-family: "revert", sans-serif; */
    /* background-color: rgb(185, 185, 185); */
}

p, button {
  font-size: 1rem;
}

button {
  background-color: transparent;
  border: .15rem solid white;
  /* border-radius: 25 =rem; */
  color: #000;
  max-width: 25rem;
  padding: 0.5rem 0.5rem;
  margin-left: 1rem;
}

.container {
  margin: 0 auto;
  max-width: 50rem;
  overflow: auto;
  text-align: center;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: .5rem;
}

.form input {
  width: 15rem;
  height: 1.75rem;
  margin: .25rem;
  padding: 1rem .5rem;
  font-size: 1.25rem;
  font-weight: bold;
}

.page-bottom{
  margin-bottom: 10rem;
}

.nav-search {
      display: flex;
      flex-direction: column-reverse;

}